<div class='hero'>
  <div class='about'>
    <a href='/about'>What is Bluffr?</a>
  </div>
  <h1>Bluffr</h1>
  <p>Welcome to bluffr!</p>
  <p>Bluffr is an online planning poker application, designed for agile teams</p>
  <div class='start'>
    <a href='/new'>Start A Session</a>
  </div>
</div>
