<script src="/faye/client.js"> </script>
<script src="/javascripts/result_displayer.js"></script>
<script src="/javascripts/session_manager.js"></script>
<script id="results-template" type="text/x-handlebars-template">
<ul id='results'>
{{#each results}}
  <li>
    <span class='estimate'>{{this.bid}}</span>
    <span class='name'>{{this.name}}</span>
  </li>
{{/each}}
</ul>
</script>
<script>
  $(function() {
    var manager = new SessionManager();
    var params = {};
    $(window.location.search.replace(/^\?/, '').split(/&/)).each(function(key, value) {
      var parts = value.split(/=/);
      params[parts[0]] = parts[1];
    });
    var sessionid = params.id;
    manager.start(sessionid);

    $('[data-behaviour="start_round"]').on("click", function() {
      manager.beginRound();
    });
  });
</script>

<a href='mailto:?subject=Join%20Our%20Planning%20Session&body=<%= request.scheme %>://<%= request.host_with_port %>/session/join?id=<%= request["id"] %>'>Invite Team Members</a>

<a href='#' data-behaviour='start_round'>Start Round</a>
<div id='dynamic'></div>
