<script src="/faye/client.js"> </script>
<script src="/javascripts/session_client.js"></script>
<script>
  $(function() {
    var client = new SessionClient();
    var params = {};
    $(window.location.search.replace(/^\?/, '').split(/&/)).each(function(key, value) {
      var parts = value.split(/=/);
      params[parts[0]] = parts[1];
    });
    var sessionid = params.id;
    client.join(sessionid, params.name);

    $('#estimation').on('click', 'input[type="submit"]',  function(event) {
      event.preventDefault();

      var bid=$('#estimate').val();
      client.bid(bid);
    });
  });
</script>
<p>Hello, <%= request["name"] %>!</p>

<form id='estimation'>
  <label for='estimate'>Estimation:</label>
  <input type='text' id='estimate'/>
  <input type='submit' value='Go'/>
</form>
